.a_1{
	margin-left: 2px;
}
.a_2{
	height: 300px;
	width: 100%;
}
.h_1{
	height: 22vh;
}
.a_3{
	width: 90px;
	height: 120px;
}
.a_4{
	background-color: #63452B;
}
.a_5{
	background-color: #FAFDC3;
}
.a_6{
	background-color: #FAFDCF;
}
.bg{
	background-color: #2a2929;
}
.bg1{
	background-color: #343333;
}